@font-face {
    font-family: 'Linotype';
    src: url('../assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'Linotype-Bold';
    src: url('../assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: 'Demi';
    src: url('../assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf');
}