@import 'variables';

@mixin mobileMax {
    @media screen and (max-width: $tablet-width){
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-width) {
        @content;
    }
}

@mixin set-font-properties($font-size, $line-height:inherit, $font-family:inherit) {
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
}

