@import '../../styles/mixins';

.video {

    
    margin-left: 1rem;
    
    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    &__image {
        width: 7.5rem;
        height: 4.375rem;
        border-radius: 5px;
    }

    &__info {
        margin-left: 1rem;
        width: 40%;

        &--title {
            margin-bottom: 0;
        }

        @include tablet {
            width: 20%;
        }

    }
}