@import '../../styles/mixins';

.main-parent {

    @include desktop {
        display: flex;
    }
}

.side-videos{
    &__heading { 
        color: #AFAFAF;
        margin-left: 1rem;

        @include tablet {
            margin-top: 2rem;
        }

        @include desktop {
            width: 40%;
            margin-top: unset;
        }
    }

    @include desktop {
        border-left: 2px solid lightgray;
    }
}

.align-sidevideos-div{

    @include desktop {
        display: flex;
    }
}