@import 'variables';
@import 'mixins';

h1 {
    @include set-font-properties(2rem, 2.5rem, 'Linotype-bold');
    margin-bottom: 0;

    @include tablet{
        @include set-font-properties(2.25rem, 2.75rem, 'Linotype-Bold');
    }
}

h2 {
    @include set-font-properties(0.875rem, 1.375rem, 'Demi');

    @include tablet { 
        font-size: 1.5rem;
        font-family: 'Demi';
    }
}

h4,p, label {
    @include set-font-properties(0.8125rem, 1.125rem);

    @include tablet {
        @include set-font-properties(0.875rem, 1.375rem);
    }
}
