.author-image {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.form {

    &__label {
        color: #AFAFAF;
    }

    &__textarea {
        outline: none;
        border-radius: 5px;
        width: 100%;
        resize: none;
    }
     
    &__submit-button {
        background-color: #0095FF;
        color: white;
        text-transform: uppercase;
        height: 3rem;
        width: 100%;
        border-radius: 5px;
        border-style: none;
        margin-top: 1rem;
        
     }
}

.comment-form-div {
    display: flex;
    margin-right: 1rem;
    border-bottom: 1.5px solid lightgray;
    padding-bottom: 1.8rem;
}
