@import '../../styles/mixins';


.author-image {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}


.form {

    &__label {
        color: #AFAFAF;
    }

    &__textarea {
        outline: none;
        border-radius: 5px;
        width: 100%;
        resize: none;
        padding: 1rem;

        @include tablet {
            height: 3rem;
            overflow: hidden;
        }
    }
     
    &__submit-button {
        background-color: #0095FF;
        color: white;
        text-transform: uppercase;
        height: 3rem;
        width: 100%;
        border-radius: 5px;
        border-style: none;
        margin-top: 1rem;

        @include tablet {
            width: 10rem;
            margin-left: 1rem;
        }
        
     }

     @include tablet {
         display: flex;
         align-items: center;
     }
}


.comment-form-div {
    
    display: flex;
    margin-right: 1rem;
    padding-bottom: 1.8rem;

    @include tablet {
        padding-bottom: unset;
    }
}

